



h1,p,button,h2,div{
    border: 1px solid black;
}
/* header tags are block elements so they go all the way across. They won't be allowed to fit side by side. */
h1,h2{
    width: 200px;
}

button{
    /* height: 100px; */
    /* width: 100px; */
    border-radius: 50%;
    /* box-shadow: 30px 20px 3px 30px black */
    font-size: 30px;
    padding: 80px;
}

#likebutton{
    margin-right: 20px;

}

div{
    height: 200px;
    /* width: 200px; */
    background-color:aqua;
    overflow-y:scroll;
    border: 3px groove red;
    /* border-radius: 50%; */
    /* width: 200px; */
    /* padding: 20px; */
    margin-top: 100px;
    padding: 20px 0px 30px 40px;
}