
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* this whole situation above is called css reset. Use this in all css sheets. Now it will not vary by browser*/

.row{
    height: 250px;
    outline: 1px solid black;
    background-color: coral;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    /* flex-end */

    gap: 10px;
}

.box{
    height: 200px;
    width: 200px;
    background-color: aqua;
    outline: 1px solid black;
    /* display: inline-block; */
}

#box1{
    margin-right: 300px;

}