








#searchbutton{
    border-radius: 15px;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 2px solid rgb(50, 137, 196);
    font-size: 15px;
    font-weight: 600;
    color:rgb(50, 137, 196);
    
}

#plusbutton{
    border-radius: 50%;
    background-color:rgb(30, 163, 163);
    border: 0px;
    text-align: center;
    height: 35px;
    width: 35px;
    font-size: 20px;
    color: white;

}

#createaccountbutton{
    border-radius: 0%;
    border: 2px solid black;
    font-size: 15px;
    color: white;
    background-color:rgb(82, 128, 212);
    font-weight: 200;
    padding: 6px 30px 6px 30px;
    box-shadow: 5px 5px black;
}

body{
    margin-top:45px;
    margin-left: 50px;

}

div{
    padding: 5px 5px 5px 5px;

}